{% extends 'base.html' %}

    {% block content %}
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quis commodi perspiciatis. Earum voluptatum hic quisquam. Nemo repellendus molestias unde minus, 
        rem consectetur et aspernatur, non, enim obcaecati dolores beatae dolorem sapiente! Corporis voluptas earum culpa cumque sint temporibus adipisci, 
        eius praesentium eligendi facere qui! Rerum soluta, dolores labore enim accusamus nesciunt architecto cum ullam. Error placeat debitis eveniet laudantium saepe unde,
        maiores quos cupiditate eos, quis, quaerat accusantium. Consectetur incidunt similique, nisi dolor quis aliquam officia? Atque ducimus esse placeat eos at, 
        sequi quibusdam neque error aperiam natus. Iusto ab eligendi temporibus nostrum quae eveniet consectetur, blanditiis dolorum repellendus!</p>
    {% endblock %}


